html, body{
    background-color: (0, 0, 0, 0.7); 
    margin: 0;
    padding: 0;
}

h1{
    color: #FFFFFF;
    text-align: center;
}

.startpil {
  font-size: 30px;
  color: #FFFFFF;
  margin: 30px;
}

.app-container {
  width: 390px;
  background-image: url('../assets/baggrund.png');
  background-repeat: repeat-y;
  background-size: contain;  
  background-position: top;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

#aids-symbol {
    width: 80px;
    margin-top: 40px;
}

.fakta {
    color: white;
    margin-bottom: 20px;
}

.fakta.venstre {
  width: 210px;
  align-self: flex-start;
  margin-left: 20px;
}

.fakta.hoejre {
  width: 210px;
  align-self: flex-end;
  margin-right: 20px;
}

.infovideo {
  width: 100%;
  max-width: 390px;
  height: auto;
  object-fit: cover;
  margin-top: 15px;
  display: block;
}

.pil{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 15px 40px 15px;
}