html{
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family:"Nokora", Arial, Helvetica, sans-serif;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-family:"Nokora", Arial, Helvetica, sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-family:"Nokora", Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-family: "Montserrat", Helvetica, sans-serif;
}

.app-container {
    width: 390px;
    background-image: url('../assets/baggrund.png');
    background-repeat: repeat-y;
  background-size: 100% 70%; 
    background-position: top;
    z-index: 10;
}

/*content*/

/* kortet venstre */
.infoboks-venstre{
    position: relative;
    background: #fff;
    border-radius: 0 100px 100px 0;
    padding: 16px 150px 16px 16px;
    margin: 70px 12px 32px 0px;
    width: 370px;
    box-sizing: border-box;
    overflow: visible;
}

.infoboks-venstre p{
    margin: 0;
    text-align: left;
}


.badge-hojre{
    position: absolute;
    top: 50%;
    right: 10px;               
    transform: translateY(-50%); 
    width: 132px;
    height: 132px;
    z-index: 1;           
}

.badge-hojre .circle{
    position: absolute;
    inset: 0;
    background: #EFECE7;
    border-radius: 50%;
    border: 8px solid #fff;   
}

.badge-hojre .media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52%;
    height: auto;
    object-fit: contain;
    display: block;
}

.badge-hojre .video-media{
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
    width:55%;
    height:55%;
    z-index:11;
    display:block;
}

/* kortet hojre */
.infoboks-hojre{
    position: relative;
    background: #fff;
    border-radius: 100px 0px 0px 100px;
    padding: 16px 16px 16px 150px;
    margin: 70px 0 32px 20px;
    width: 370px;
    box-sizing: border-box;
    overflow: visible;
}

.infoboks-hojre p{
    margin: 0;
    text-align: left;
}


.badge-venstre{
    position: absolute;
    top: 50%;
    left: 10px;               
    transform: translateY(-50%); 
    width: 132px;
    height: 132px;
    z-index: 1;           
}

.badge-venstre .circle{
    position: absolute;
    inset: 0;
    background: #EFECE7;
    border-radius: 50%;
    border: 8px solid #fff;   
}

.badge-venstre .video-media{
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:50%;
    z-index:11;
    display:block;
}

.badge-venstre .billede-media{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* pile */
.pil{
    display: flex;
    justify-content: space-between;
    padding: 20px 15px 40px 15px;
}



.fadebox{
    opacity: 0;
    transform: translateY(20px);
    transition:all 1s ease-in-out;
  
}

.fadebox.visible{
    opacity: 1;
    transform: translateY(0);
}

