.content-wrapper{
    align-items: center; /*centrer indhold vandret*/
    flex-direction: column;
}

.cirkel{
    display: flex;
    justify-content: center; /*centrerer ikonet*/
    align-items: center;
    height: 125px;
    width: 125px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.question{
    padding: 15px; /*adder whitespace inde i boxen*/
    margin: 10px;/*adder whitespace rundt om boxen*/
    margin-top: 50px;/*ekstra afstand mellem cirklen og boxen*/
    background-color: #FFFFFF;
    border-radius: 20px;
}

.question .cirkel{
    background-color: #EEEAE5;
    height: 35px;
    width: 35px;
}

.svarmulighed{
    display: flex;
    padding: 15px; /*adder whitespace inde i boxen*/
    margin: 10px;/*adder whitespace rundt om boxen*/
    background-color: #FFFFFF;
    border-radius: 50px;
}