

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* vandret */
    align-items: center;     /* lodret */
    width: 390px; /*Tiltænkt skærmstørrelse: iphone 14 = 390px*/
    height: 100vh;     /* Fylder hele højden af viewporten */
    background-image: url('../assets/baggrund.png'); /* Sti til billedet */
    background-color: black; 
    background-position: center; /* Centrerer billedet */
    background-repeat: no-repeat; /* Forhindrer gentagelse af billedet */
    margin-inline: auto; /* Centrerer sitet, hvis det vises på en større skærm */
}

/* Scorekortet */
.score-card {
    background: #EEEAE5;
    border-radius: 20px;
    padding: 20px 20px;
    text-align: center;
    max-width: 300px;
    width: 80%;
}

/* Cirkel bag billedet */
.score-icon {
    background: white;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 50px auto;
}

.score-icon img {
    width: 120px;
    height: 120px;
}

/* Tekst */
.tekst h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
    font-family:Montserrat, Helvetica, sans-serif; /* ikke den rigtige skrifttype endnu*/
}
.tekst p {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: 400;
}

.score-result {
    font-size: 30px;
    font-weight: 700;
    color: #205738;
    font-family: Montserrat, Helvetica, sans-serif;
    margin-top: 5px; 
    margin-bottom: 35px;
}

.knapper a {
    display: block;
    width: 80%;
    background: #333;
    color: white;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    font-weight: 700;
    margin: 8px auto;
    font-family: Arial, Helvetica, sans-serif; /* ikke den rigtige skrifttype endnu*/
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}