* {/*reset css*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{ /*ikke de rigtige skrifttyper endnu*/
    font-family:"Nokora", Arial, Helvetica, sans-serif;
}

p{
    font-family: "Montserrat", Helvetica, sans-serif;
}

body{
    background-color: black;
}
.baggrund{
    max-width: 390px; /*Tiltænkt skærmstørrelse: iphone 14 = 390px*/
    margin-inline: auto; /*centrerer sitet, hvis det vises på en større skærm*/
    background-image: url("../assets/baggrund.png");
    padding: 25px;
}
