

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-family: Montserrat, Helvetica, sans-serif;
}

body{
    width: 390px; /*Tiltænkt skærmstørrelse: iphone 14 = 390px*/
    background-color: black; /*udskiftes med baggrunden fra figma*/
    margin-inline: auto; /*centrerer sitet, hvis det vises på en større skærm*/
}

.content-wrapper{
    margin-inline: auto; /*placerer content-wrapper i midten*/
    margin-block: 25px; 
    width: 340px;
    background-color: #EEEAE5;
    display: flex;
    padding-block: 25px;
}
