body {
  background: url('assets/baggrund.png');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 1rem;
  width: 390px;        
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  width: 317px;  
  background: #EEEAE5;;
  border-radius: 16px;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2, h3 {
  text-align: center;
  color: #444;
}

.ikoner {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.ikon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
